<div id="demo" ng-controller="searchAutoController as autos">
    <!-- Button (Double) -->
    <div class="form-group">
        <label class="col-md-4 control-label" for="ok"></label>
        <div class="col-md-8">
            <button id="ok" name="ok" class="btn btn-success" ng-click="autos.search()">Buscar</button>
             <a id="new" ui-sref="public.vehicle.new" class="btn btn-primary">
                Nuevo auto
            </a>
        </div>
    </div>
    <hr />
    <div>
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Cantidad puertas</th>
                <th>Color</th>
            </tr>
            <tr ng-repeat="p in autos.autos">
                <td> <a ui-sref="public.vehicle.edit({ id: p.id })">{{p.id}}</a></td>
                <td>{{p.cantPuertas}}</td>
                <td>{{p.color}}</td>
            </tr>
        </table>
    </div> 
</div>